div.well
{
background-color:rgba(0,0,0,0.75);
border:rgba(0,0,0,0.5);
}

list-group-item
{
fill:rgba(0,0,0,0.5);
}

body
{
background-color:rgba(0,0,0,0.5);
}

#sitebody
{
background-image:url('https://cdn.rawgit.com/communistbastard/fonts/font/grove-art-1038x576(dark).jpg');
background-attachment:fixed;
background-size:cover;
}

a
{
color:#FFFFFF;
}

h1, h2, h3, h4, h4 small
{
color:#868A08;
text-shadow: #B40404 0px -5px 3px, #000000 0px 5px 3px;
font-family: 'kremlinregular';
<link href='https://cdn.rawgit.com/communistbastard/fonts/font/fonts/Kremlin.css' rel='stylesheet' type='text/css'">
}

p
{
color:#868A08;
font-size: medium;
font-family: arial;
text-shadow: #000000 0px -3px 1px, #000000 0px 3px 1px;
}

nav.navbar.navbar-inverse.navbar-fixed-top
{
color:#B40404
background-color:rgba(0,0,0,0.4);
}
  
div.jumbotron
{
background-color:rgba(0,0,0,0.4);
background-size:cover;
}
  
nav.navbar.navbar-default
{
color:#B40404
background-color:rgba(0,0,0,0.4);
}
  
a.btn.btn-default.btn-success.pull-right
{
color:#B40404;
background-color:rgba(0,0,0,0.5);
}
  
a.pull-right.btn.btn-default.btn-xs
{
color:#B40404;
background-color:rgba(0,0,0,0.5);
}
  
a.badge.comment-page-id
{
color:#B40404;
background-color:rgba(0,0,0,0.5);
}
  
input.submit.btn.btn-primary
{
color:#B40404;
background-color:rgba(0,0,0,0.5);
}
  
span.btn.btn-default.pull-right
{
background-color:rgba(0,0,0,0.5);
}
  
ul.dropdown-menu
{
color:#000000;
background-color:rgba(0,0,0,0.5);
}
  
div.modal-content
{
background-color:rgba(0,0,0,0.5);
}

div.row 
{
color:#B40404;
}


div.row.deck-row-lg
{
background-color:rgba(0,0,0,0.5);
border: 1px solid rgb(76,67,55);
border-radius: 3px;
}

table
{
max-width: 100p%;
background-color: rgba(0,0,0,0.5);
}

.btn-primary
{
border-color:#B40404;
}

.btn-default
{
color:#333;
background-color:#B40404;
border-color:#000000;
}

ul.boardlist a.qty
{
color:#B40404;
}

.well-jumbotron
{
background-color:black;
background-repeat:repeat-y;
background-image:url('');
}

#masthead
{
background-image:url('http://static.tappedout.net/s/lib/header-bg.png');
background-color:rgba(0,0,0,0.75);
}

.panel-title
{
color: #b40404;
}

div.panel-body
{
background-color:black;
background-repeat:repeat-y;
background-image:url('');
}

<div class="panel-body"
style="background-color:rgba(0,0,0,0.75)">
<div class="add-img-responsive add-embed-responsive">
<p>.</p>
</div>
</div>
